.avatar {
  border-radius: 50%;
}
.embeddedjsx {
  color: #0d8f0d;
}
.div-box {
  width: 20%;
  float: right;
  border: 1px solid #d1cfcf;
  border-radius: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 10px #000000;
}

.green {
  font-size: 40px;
  padding: auto;
  height: 30;
  background-color: #024902;
}
.blue {
  font-size: 40px;
  padding: auto;
  text-align: center;
  height: 30vh;
  background-color: #022e6e;
}
/* .hedy {
  display: inline-block;
} */
.top {
  width: 20%;
  border: 1px solid #eeeeee;
  border-radius: 25px;
}

.anime-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
}
.name {
  display: inline;
  padding-left: 4px;
}
.card {
  text-align: center;
  height: 20vh;
  width: 30%;
  background-color: #9febdf;
  border: 2px solid #000;
  display: inline-block;
}
.another {
  width: 100%;
  margin-top: 10px;
  background-color: #656565;
  border: 1px solid #000000;
}
.another h2 {
  text-align: center;
}
.hook {
  margin: auto;
  padding-top: 10px;
  text-align: center;
  background-color: #d1c3f5;
  height: 30vh;
  width: 40%;
}
.btn {
  margin-top: 10px;
  padding: 10px;
  height: 40vh;
  width: 30%;
  border: 1px solid #000000;
}
#temp {
  margin: auto;
  margin-top: 20px;
  background-color: #b4b2b2;
  border: 1px solid #eeeeee;
  height: 30vh;
  width: 50%;
  text-align: center;
}
.newForm {
  margin: auto;
  margin-top: 5px;
  padding-top: 5px;
  height: 60vh;
  width: 50%;
  text-align: center;
  background-color: #d1cfcf;
}

.anotherForm {
  margin: auto;
  padding-left: 5px;
  height: 30vh;
  width: 40%;
  background-color: #8c8686;
}
.divBox {
  height: 40vh;
  border: 1px solid #000;
}

.firstDiv {
  height: 30vh;

  background-color: #ef9494;
}
.secondDiv {
  height: 10vh;
  background-color: #7dd7f7;
}
.fancyBorder {
  margin-top: 100px;

  padding: 10px 10px;
  border: 10px solid;
}

.fancyBorder-grey {
  border-color: #025137;
}
