.avatar {
  border-radius: 50%;
}
.embeddedjsx {
  color: #0d8f0d;
}
.div-box {
  width: 20%;
  border: 1px solid #d1cfcf;
  border-radius: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 10px #000000;
}
/* .hedy {
  display: inline-block;
} */
